:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-white-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-white-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: var(--very-dark-blue);
}

body,
.card__body-text {
  color: var(--slightly-white-paragraph);
}

main {
  display: grid;
  place-items: center;
  padding: 2em 0.5em 46em 0.5em;
  position: relative;
  height: 100vh;
}

.card {
  width: 320px;
  height: 700px;
  overflow: hidden;
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;
}

.card__image {
  height: 235px;
  background: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)),
    url("../assets/images/image-header-mobile.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden-content {
  display: none;
}

.card__title {
  width: 76%;
  margin: 0.8em auto;
  font-family: "Lexend Deca", sans-serif;
  color: var(--white);
}

.card__span {
  color: var(--soft-violet);
}

.card__body-text {
  width: 90%;
  margin: 0 auto 2em auto;
}

.card__number {
  margin-bottom: 0.3em;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.card__text {
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--slightly-white-headings);
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
    text-align: justify;
  }

  main {
    padding-bottom: 2em;
  }

  .card {
    flex-direction: row-reverse;
    width: 1024px;
    height: 396px;
  }

  .card,
  .card__footer {
    display: flex;
  }

  .to-left,
  .to-right {
    width: 50%;
  }

  .card__image {
    width: 100%;
    min-height: 400px;
    background-size: cover;
  }

  .card__title {
    margin: 2.5em 3em 1.2em auto;
  }

  .card__body-text {
    width: 70%;
    margin-left: 3em;
  }

  .card__footer {
    justify-content: space-evenly;
    margin-top: 4.2em;
  }
}
